{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class='container'>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3 text-center">
                <h2>{{notes.title}}</h2>
            </div>

            <hr class="px-3 m-0">
            <p class="description m-1 px-2">
                <div class="p-5">
                    {{notes.description|safe}}
                </div>
            </p>
            <hr>
        </div>

    </div>

</section>

{% endblock content %}